* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #bbbb !important;
    padding: 20px;
}

.caixa {
    position: relative;
    /*feito isso para que o elemento nav fique absoluto em relação a caixa*/
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav li a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav li a:hover {
    color: rgb(209, 92, 14);
    text-decoration: underline;
    transition: 300ms;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,
fieldset legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: rgb(209, 92, 14);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(136, 59, 8);
    transform: scale(1.1);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555;
    color: white;
    font-weight: bold;
}

td,
th {
    padding: 8px 15px;
    border: 1px solid #000;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.produtos li:hover {
    border-color: rgb(209, 92, 14);
}

.produtos li:active {
    border-color: #088c19;
    border-width: 3px;
}

.produtos li:hover h2 {
    font-size: 33px;
    transition: 300ms;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.descricao-produto {
    font-size: 18px;
}

.preco-produto {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: url(../imagens/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}


/*CSS da pagina home*/

#banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.titulo-principal::first-letter {
    font-weight: bold;
}

.titulo-principal::after {
    content: " ]";
}

.titulo-principal::before {
    content: "[ ";
}

.principal {
    padding: 3em 0;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa {
    padding: 3em 0;
}

.mapa p {
    margin-bottom: 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.imagem-beneficios {
    width: 60%;
}

.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width:480px) {
    .caixa,
    .princiapl,
    .conteudo-beneficios,
    .mapa,
    .video {
        width: auto;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .lista-beneficios,
    .imagem-beneficios {
        width: 100%;
    }
}